.title{
  display: flex;
  align-items: center;
  border: 1px solid yellow; /* Adiciona uma borda na lateral esquerda */
  border-left: none;
  border-right: none;
}

.pagina-atual-container{
  position: fixed;
  width: 100%;
  text-align: -webkit-center;
}

.pagina-atual{
  border-radius: 100px;
  margin-top: 5px;
  padding: 5px 15px;
  color: whitesmoke;
  text-align: center;
  max-width: 50px;
  border: 1px solid rgba(180, 180, 180, 0.5); /* Adiciona uma borda na lateral esquerda */
  border-left: none; /* Adiciona uma borda na lateral esquerda */
  border-right: none; /* Adiciona uma borda na lateral esquerda */
  background: linear-gradient(
    to top,
    rgba(160, 160, 160, 0.144) 10%,
    transparent 90%
  );
}
.pagina-atual h1 {
  font-weight: 900;
}

mat-icon {
  color: yellow;
  font-size: 40pt;
  min-width: 55px;
  height: 60px;
  display: flex;
  align-items: center;
}

i{
  color: yellow;
}

.body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.6;
  transition: 0.5s;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: silver;
  row-gap: 5px;
  align-items: center;
}

section {
  background-color: black;
  width: 89%;
  padding: 5%;
  height: 528px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container-img-max {
  height: 300px; /* altura fixa */
}
.container-img-min {
  height: 150px; /* altura fixa */
}

.container-img {
  width: 100%; /* largura fixa */
  overflow: hidden; /* esconde conteúdo que ultrapassa a div */
  display: flex; /* usa flexbox para centralizar */
  justify-content: center; /* centraliza horizontalmente */
  align-items: center; /* centraliza verticalmente */
  border-radius: 15px;
}

.container-bottom-img {
  align-items:  flex-end; /* centraliza verticalmente */
}

.container-img img {
  min-width: 100%; /* impede que a imagem ultrapasse a largura da div */
  min-height: 100%;
  object-fit: contain;
}

header {
  border: 1px solid yellow;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

p,
ul {
  font-size: 12pt;
  margin: 0;
}

li {
  margin: 5px 0;
}

h1 {
  font-size: 27pt;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 21pt;
  margin: 0;
}
footer {
  background-color: #3333339d;
  padding: 20px;
  border-radius: 30px;
}

span {
  color: yellow;
  font-weight: 600;
}


@media (max-width: 400px) {
  p,
  ul {
    font-size: 10pt;
  }

  h1 {
    font-size: 20pt;
  }
  
  h2 {
    font-size: 15pt;
  }
  
}