<div class="pagina-atual-container" [hidden]="!paginaAtual">
  <div class="pagina-atual">Pg.{{ paginaAtual }}</div>
</div>

<div class="body">
  <section>
    <header class="img-heade">
      <h1>
        Como <span>faturar mais de 10 mil por mês</span> trabalhando no
        <span>conforto de sua casa?</span>
      </h1>
    </header>
    <div class="container-img container-img-max">
      <img
        src="../../../../assets/img/investimentos-financas-dinheiro-contabilidade-1598464956569_v2_900x506.jpg"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
  </section>
  <section>
    <p>
      <b> <i class="fas fa-angle-double-right"></i> Introdução: </b> <br />

      Neste ebook, você aprenderá como escalar seus ganhos trabalhando em casa
      para mais de <span>10 mil por mês</span> por meio de uma consultoria
      premium. Reunimos toda nossa bagagem e conhecimento técnico para
      apresentar um método capaz de atrair clientes, aumentar o valor do serviço
      e fidelizá-los, proporcionando <span>maior estabilidade financeira</span>.
    </p>
  </section>

  <section>
    <div class="title">
      <mat-icon>attach_money</mat-icon>
      <h2>1 - Por que não consigo um<span> bom faturamento</span> mensal?</h2>
    </div>
    <div class="container-img container-img-max container-bottom-img">
      <img
        src="../../../../assets/img/broke-portrait-sad-bankrupt-standing-600nw-1746418268.webp"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
  </section>

  <section>
    <p>
      Se você é formado em nutrição, educação física ou outra área que requer
      captação de clientes, já deve ter feito essa pergunta em algum momento.
    </p>
    <p>
      <b>
        <i class="fas fa-angle-double-right"></i> Resposta: Você é
        <span> igual a todos</span>, não tem nada de diferente!</b
      >
    </p>
    <p>
      Isso mesmo, você não se destaca, pois acaba repetindo o que a maioria já
      faz e, por isso, é só mais um oferecendo mais do mesmo. Desta forma, você
      nunca atingirá o sucesso financeiro.
    </p>
    <p>
      <b>
        <i class="fas fa-angle-double-right"></i> Como eu posso resolver esse
        problema?</b
      >
    </p>
  </section>

  <section>
    <div class="container-img container-img-min">
      <img
        src="../../../../assets/img/5d95bff4d4aefb48ccddfc48eed1e72c.jpg"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
    <ul> 
      <li>
        Seja diferente, entregue o que os outros não entregam, com isso, seu
        ticket (valor agregado ao seu trabalho) será muito maior, permitindo que
        você trabalhe menos e <span>ganhe mais</span>.
      </li>
      <li>
        A resposta pode até parecer óbvia e simples, mas lembre-se, se fosse
        fácil, muitos não estariam se perguntando a primeira pergunta e estariam
        <span>faturando mais</span>.
      </li>
      <li>
        Você precisa se destacar, mas para isso, há um método, e esse método irá
        aprender neste ebook, então continue a se deleitar com a leitura.
      </li>
    </ul>
  </section>

  <section>
    <div class="title">
      <mat-icon>attach_money</mat-icon>
      <h2>2 - Captação! Como posso atrair mais clientes?</h2>
    </div>
    <div class="container-img container-img-max">
      <img
        src="../../../../assets/img/5d95bff4d4aefb48ccddfc48eed1e72c.jpg"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
  </section>

  <section>
    <p>
      Como dito, muitos profissionais acabam repetindo o modelo de outros. Isso
      em um mercado <span>já saturado</span> , onde a concorrência é alta, só o
      tornará mais um, fazendo com que o público não veja seu trabalho com tanto
      valor.
    </p>
    <div class="container-img container-img-min">
      <img
        src="../../../../assets/img/5d95bff4d4aefb48ccddfc48eed1e72c.jpg"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
    <p>
      Na luta contra a concorrência, muitos profissionais acabam abaixando seus
      preços, fazendo assim que necessitem trabalhar cada vez mais e ainda assim
      obtenham um <span>faturamento baixo</span>.
    </p>
  </section>

  <section>
    <p>
      Agregar valor ao seu trabalho permitirá que você <span>cobra mais</span>.
      Para isso, é preciso que você também entregue mais, e isso pode ser feito
      por meio do nosso método de consultoria premium.
    </p>
    <div class="container-img container-img-min">
      <img
        src="../../../../assets/img/5d95bff4d4aefb48ccddfc48eed1e72c.jpg"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
    <p>
      A competição nunca será um problema se você entregar mais que os demais.
      No entanto, você não pode ceder à <span>tentação</span> de abaixar seu
      preço. Por mais que isso assuste pelo medo de não conseguir novos
      clientes, esse ato será um tiro no seu próprio pé a longo prazo, pois
      <span>desvalorizará seu trabalho</span>, fazendo com que os clientes não
      te enxerguem como uma autoridade na área e perca credibilidade.
    </p>
  </section>

  <section>
    <p>
      <b>
        <i class="fas fa-angle-double-right"></i> Sua imagem é muito
        importante!</b
      >
    </p>
    <div class="container-img container-img-min">
      <img
        src="../../../../assets/img/5d95bff4d4aefb48ccddfc48eed1e72c.jpg"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
    <ul>
      <li>
        Sua imagem, ou seja, como você é visto, será a primeira impressão que
        possíveis clientes terão de você. Trabalhar suas redes sociais, mas
        também toda sua forma de comportamento, vestimenta, locais que
        frequenta, publicações em determinados ambientes, serão
        <span>fundamentais para construir uma imagem de bem-sucedido</span>, o
        primeiro passo para gerar autoridade e credibilidade.
      </li>
    </ul>
  </section>

  <section>
    <ul>
      <li>
        Não estamos dizendo que é preciso ter milhares de seguidores em redes
        sociais, mas é fundamental que você possua uma boa imagem para seu
        público e crie uma boa relação com eles.
      </li>
      <li>
        Lembre-se, o boca a boca é importante como divulgação, mas é um modelo
        <span>limitado</span>. Precisamos abordar mecanismos de
        <span>maior captação</span>, escalonando seu faturamento para 10 mil, 20
        mil, 30 mil e por aí em diante.
      </li>
      <div class="container-img container-img-min">
        <img
          src="../../../../assets/img/5d95bff4d4aefb48ccddfc48eed1e72c.jpg"
          alt="Saldo Bancário do Lucas em 1 mês de faturamento"
        />
      </div>
    </ul>
  </section>

  <section>
    <div class="title">
      <mat-icon>attach_money</mat-icon>
      <h2>
        3 - Quais são as <span>estratégias de marketing</span> e captação que
        posso utilizar?
      </h2>
    </div>
    <div class="container-img container-img-max">
      <img
        src="../../../../assets/img/5d95bff4d4aefb48ccddfc48eed1e72c.jpg"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
  </section>

  <section>
    <p>
      Bem, as opções são inúmeras, mas este ebook tem o intuito de ser objetivo.
      Iremos selecionar, dentro do nosso método de consultoria premium, as
      opções que nos fizeram <span>faturar mais de 70 mil em um mês</span>.
    </p>
    <div class="container-img container-img-max container-bottom-img">
      <img
        class="insta-img"
        src="../../../../assets/img/328148241_146258121288811_7620664139041803715_n.jpg"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
  </section>

  <section>
    <p>
      <b> <i class="fas fa-angle-double-right"></i> Trabalhe suas redes!</b>
    </p>
    <p>
      Como dito anteriormente, você não precisa de
      <span>milhares de seguidores</span> para faturar alto e ter uma boa
      estabilidade financeira, mas é preciso que você crie uma boa relação com
      seu público.
    </p>
    <div class="container-img container-img-min">
      <img
        src="../../../../assets/img/5d95bff4d4aefb48ccddfc48eed1e72c.jpg"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
  </section>

  <section>
    <p>
      <b> <i class="fas fa-angle-double-right"></i> Como posso fazer isso?</b>
    </p>
    <ul>
      <li>
        Crie conteúdos para seu nicho, mas principalmente conteúdos que façam
        seu público se interessar por o que você tem a dizer. Escute-os em suas
        queixas, traga o que eles querem saber. Caixinhas de perguntas nos
        stories são uma <span>excelente ferramenta </span>para isso. Assim, seu
        próprio público redige seu conteúdo, e como o conteúdo vem do interesse
        e curiosidades deles mesmos, eles irão parar para lhe escutar,
        vinculando e engajando-os a você. Isso poderá ser traduzido em
        <span>novos clientes</span> futuramente.
      </li>
      <li>
        Mas lembre-se, estude bastante. Para ter autoridade e de fato
        desempenhar um bom trabalho, é necessário realmente dominar sobre o
        conteúdo que você se dispôs a explicar e trabalhar.
      </li>
    </ul>
  </section>

  <section>
    <div class="container-img container-img-max">
      <img
        src="../../../../assets/img/5d95bff4d4aefb48ccddfc48eed1e72c.jpg"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
    <p>
      <b>
        <i class="fas fa-angle-double-right"></i> Cuidado com a sua aparência,
        você é a sua vitrine!</b
      >
    </p>
    <ul>
      <li>
        Sua aparência física não deveria ser julgada, mas infelizmente ela será
        e você precisará se adequar a isso se deseja passar
        <span>maior credibilidade</span>.
      </li>
    </ul>
  </section>

  <section>
    <ul>
      <li>
        Por exemplo, se você é um Personal Trainer ou nutricionista esportivo e
        deseja atender um público visando melhora da composição corporal
        (hipertrofia/emagrecimento), sua aparência física será julgada e
        cobrada. Entenda, você não precisa ser um atleta, mas é importante que
        seu corpo demonstre que você come o peixe que vende. Isso porque, ao
        contrário disso, levará a <span>baixa credibilidade</span>. Não é à toa
        que pessoas sem formação acadêmica vêm roubando espaço no meio das
        consultorias online simplesmente por possuírem físicos acima da média.
      </li>
    </ul>
  </section>

  <section>
    <ul>
      <li>
        Caso você consiga conjugar o conhecimento técnico-científico mais um
        corpo proporcional aos que se vende, tenha certeza de que você obterá um
        grande salto de credibilidade. Isso renderá novos clientes.
      </li>
      <li>
        Toda essa estrutura passada até agora foi orgânica, mas sabemos que as
        redes sociais possuem algoritmos que limitam o alcance do público aos
        conteúdos postados. Sendo assim, outra ferramenta muito interessante a
        ser utilizada a seu favor é o “tráfego pago”. Existem alguns mecanismos
        para trabalhar com essas ferramentas, e este ebook não tem o propósito
        de ensinar como os usar, mas sim que são ferramentas
        <span>úteis para escalonar a captação de novos clientes</span>. Desta
        forma, você conseguirá ultrapassar os limites que os algoritmos impõem.
      </li>
    </ul>
  </section>

  <section>
    <ul>
      <li>
        Ferramentas como o próprio tráfego do Facebook são capazes de direcionar
        seus anúncios a nichos, ou seja, a um público-alvo. Isso faz com que
        seus conteúdos cheguem de fato a quem interessa, possíveis clientes.
      </li>
      <li>
        Existem diversos tutoriais no próprio YouTube ensinando como utilizar
        essas ferramentas. Caso não tenha condições de contratar o serviço de um
        colaborador ou empresa que trabalha com tráfego, você mesmo pode estudar
        e entender essas ferramentas para
        <span>usá-las como uma poderosa arma.</span>
      </li>
    </ul>
    <div class="container-img container-img-min">
      <img
        src="../../../../assets/img/5d95bff4d4aefb48ccddfc48eed1e72c.jpg"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
  </section>

  <section>
    <div class="title">
      <mat-icon>attach_money</mat-icon>
      <h2>4 - O que fazer após captar os clientes?</h2>
    </div>
    <div class="container-img container-img-max">
      <img
        src="../../../../assets/img/5d95bff4d4aefb48ccddfc48eed1e72c.jpg"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
  </section>

  <section>
    <p>
      Bem, você seguiu todos os passos anteriormente citados, agora já tem
      pessoas procurando pelo seu trabalho, o que é ótimo. No entanto, surge uma
      nova questão:
    </p>
    <p>
      <b>
        <i class="fas fa-angle-double-right"></i> Como precificar o meu trabalho
        sem ceder ao baixo preço?</b
      >
    </p>
    <ul>
      <li>
        Como foi falado, tentar concorrer com outros profissionais pelo menor
        preço é uma péssima ideia. De cara,
        <span>descredibiliza seu trabalho</span> e atrai apenas pessoas
        interessadas no baixo preço e não no seu serviço. E acredite, sempre
        terá alguém que cobra mais barato. Se seu público for esse, mesmo com
        preço baixo, não será garantida a captação e fidelização do cliente.
      </li>
    </ul>
  </section>

  <section>
    <ul>
      <li>
        Não tenha medo de cobrar um preço justo. Para que seu trabalho tenha
        mais valor e seja possível cobrar mais, é importante que entregue para
        seus clientes mais do que os outros profissionais. A
        <span>consultoria premium</span>
        é uma excelente ferramenta.
      </li>
    </ul>
    <div class="container-img container-img-max">
      <img
        src="../../../../assets/img/5d95bff4d4aefb48ccddfc48eed1e72c.jpg"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
  </section>

  <section>
    <p>
      <b>
        <i class="fas fa-angle-double-right"></i> Mas o que é uma consultoria
        premium?</b
      >
    </p>
    <ul>
      <li>
        A <span>consultoria premium</span> é a oferta não só de serviços que
        atendam diversas necessidades do seu público, mas também que
        proporcionem uma experiência de acompanhamento realmente personalizado e
        diferenciado. Isso agrega ainda mais valor ao seu serviço, já que aos
        olhos do cliente realmente se justifica o maior valor dado pela maior
        entrega no serviço.
      </li>
      <li>
        Essa maior entrega e personalização do serviço engajam bastante o
        cliente, o que leva ao próximo passo:
      </li>
    </ul>
  </section>

  <section>
    <p>
      <b> <i class="fas fa-angle-double-right"></i> A fidelização do cliente</b>
    </p>
    <div class="container-img container-img-min">
      <img
        src="../../../../assets/img/5d95bff4d4aefb48ccddfc48eed1e72c.jpg"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
    <ul>
      <li>
        O cliente já te contratou, ou seja, já agregou valor ao seu serviço e te
        deu a oportunidade de realmente mostrar que vale a pena dar continuidade
        com seu serviço. Agora é a hora de você mostrar o seu diferencial e
        provar que é justo o <span>maior valor agregado ao seu serviço</span> e
        assim fidelizar de vez o cliente. Para isso, a pergunta que você precisa
        fazer é:
      </li>
    </ul>
  </section>
  <section>
    <p>
      <b>
        <i class="fas fa-angle-double-right"></i> O que os outros profissionais
        não entregam que eu posso entregar?</b
      >
    </p>
    <div class="container-img container-img-min">
      <img
        src="../../../../assets/img/5d95bff4d4aefb48ccddfc48eed1e72c.jpg"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
    <ul>
      <li>
        Talvez o primeiro ponto e mais importante seja o
        <span>conhecimento técnico-científico</span>. Se seu cliente fizer uma
        pergunta, você precisa prontamente saber responder com base científica e
        assim, com confiança, reforçar ao cliente sua autoridade e
        credibilidade.
      </li>
    </ul>
  </section>

  <section>
    <ul>
      <li>
        Neste caso, não adiantará captar os clientes se você não estudou o
        suficiente para entregar resultados. Esse tipo de conhecimento virá nos
        próximos ebooks, complementando seu
        <span>conhecimento técnico-científico</span> para ajudar a se tornar uma
        autoridade na sua área de atuação e fidelizar cada vez mais clientes.
      </li>
      <li>
        Ouça as queixas do seu cliente e estude bastante para que as possa
        solucionar e maximizar o resultado do seu cliente.
      </li>
    </ul>
    <div class="container-img container-img-min">
      <img
        src="../../../../assets/img/5d95bff4d4aefb48ccddfc48eed1e72c.jpg"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
  </section>

  <section>
    <ul>
      <li>
        Outro ponto muito importante e que a maioria dos acompanhamentos deixa a
        desejar é na <span>atenção</span>. Você precisa oferecer todo suporte
        necessário para seus clientes, sempre estar à disposição para tirar suas
        dúvidas. Caso não venham dúvidas até você, pergunte como está sendo o
        processo, se precisa de algo ou o que pode fazer para melhorar sua
        experiência. Semanalmente, peça relatórios de como foi a semana,
        <span>identifique as dificuldades</span> e trabalhe sobre elas. Assim, o
        cliente se sentirá acolhido e realmente sentirá que você está fazendo o
        possível para lhe trazer o máximo de resultados. Pode ter certeza de que
        esse será um cliente satisfeito e ficará bastante tempo fidelizado, além
        de que, sempre que possível, irá te divulgar e indicar.
      </li>
    </ul>
  </section>
  <section>
    <div class="title">
      <mat-icon>attach_money</mat-icon>
      <h2>5 -Não seja <span>aleatório!</span></h2>
    </div>
    <div class="container-img container-img-max">
      <img
        src="../../../../assets/img/5d95bff4d4aefb48ccddfc48eed1e72c.jpg"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
  </section>

  <section>
    <ul>
      <li>
        Você não pode tentar <span> atirar para todos os lados</span>. Defina
        qual será seu público e domine o máximo de conteúdos referente a este
        público. De nada adianta pegar um barco sem destino, você irá remar,
        remar, se cansar e não irá chegar a lugar algum.
      </li>
      <li>
        Após definir qual será seu público, é importante identificar os
        principais pontos que os afligem, ou seja, busque saber quais são os
        problemas e desafios, assim encontrando a solução para esses problemas,
        deixando bem claro que a partir de seus serviços eles irão conseguir a
        solução.
      </li>
      <li>Sempre dê <span>garantias do seu trabalho</span>, por exemplo:</li>
    </ul>
  </section>

  <section>
    <p>
      <b>
        <i class="fas fa-angle-double-right"></i> Seus problemas serão
        resolvidos ou seu dinheiro de volta</b
      >
    </p>
    <div class="container-img container-img-min">
      <img
        src="../../../../assets/img/5d95bff4d4aefb48ccddfc48eed1e72c.jpg"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
    <ul>
      <li>
        Essa garantia traz segurança ao cliente, atribui confiança e crença de
        que você realmente sabe o que fala e faz. No entanto, como já frisado,
        estude bastante e domine o assunto que se dispôs a abordar para
        realmente entregar os resultados prometidos.
      </li>
    </ul>
  </section>
  <section>
    <div class="title">
      <mat-icon>attach_money</mat-icon>
      <h2>
        6 - Não basta dar um preço, crie a necessidade de
        <span> consumo do seu serviço.</span>
      </h2>
    </div>
    <div class="container-img container-img-max">
      <img
        src="../../../../assets/img/5d95bff4d4aefb48ccddfc48eed1e72c.jpg"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
  </section>

  <section>
    <ul>
      <li>
        Ao precificar seu serviço, aconselhamos que o valor seja acima da média
        de sua região. Por exemplo, se a média de serviço for 200 reais para uma
        consultoria, <span>cobre 400 reais no mínimo</span>.
      </li>
      <li>
        Colocando os passos anteriores em prática, seu cliente entenderá que
        está pagando mais porque terá maiores benefícios ao contratar seu
        serviço. No entanto, não adianta apenas precificar mais alto, você
        precisa gerar o impulso para que o cliente contrate com urgência seu
        serviço. Assim, crie planos personalizados e gere a sensação de
        <span>escassez</span>, com estratégias como vagas limitadas, promoções
        exclusivas por períodos limitados, entre outras.
      </li>
    </ul>
  </section>

  <section>
    <ul>
      <li>
        Ao criar para seu público a sensação de <span>escassez</span>, você
        estimula uma rápida ação de fechamento do plano, fazendo com que o
        cliente não deixe para depois ou acabe contratando outro profissional.
      </li>
      <li>
        Para fortificar seu marketing e então tornar seus planos ainda mais
        atrativos, utilize elementos visuais, como fotos de antes e depois ou
        mesmo depoimentos de clientes satisfeitos com seu trabalho recomendando.
        Isso trará para seu possível futuro cliente a sensação de segurança,
        afinal, você foi capaz de entregar bons resultados a outras pessoas.
      </li>
    </ul>
  </section>

  <section>
    <ul>
      <li>
        Saber precificar é importante, pois precisa
        <span>haver um equilíbrio</span> entre a entrega de serviço e o preço
        cobrado. Se cobrar muito barato, desvalorizará seu serviço. No entanto,
        cuidado ao cobrar muito caro, pois caso não consiga justificar tal
        preço, o cliente pode não ver sentido em pagar pelo valor cobrado.
        Assim, a tendência é buscar por um preço menor que acredite entregar o
        mesmo serviço.
      </li>
    </ul>
    <div class="container-img container-img-min">
      <img
        src="../../../../assets/img/5d95bff4d4aefb48ccddfc48eed1e72c.jpg"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
  </section>

  <section>
    <p>
      <b>
        <i class="fas fa-angle-double-right"></i>
        É importante lembrar que o valor do seu serviço é atribuído pelo
        cliente, logo você precisa entregar de maneira
        <span> proporcional ao preço.</span></b
      >
    </p>
    <ul>
      <li>
        A percepção de valores pode variar de pessoa para pessoa. Por isso, é
        importante conhecer seu público para entender as reais necessidades e
        elaborar planos personalizados para diferentes
        <span> graus de necessidades,</span>
        entregando a cada plano requisitos específicos.
      </li>
    </ul>
    <div class="container-img container-img-min">
      <img
        src="../../../../assets/img/5d95bff4d4aefb48ccddfc48eed1e72c.jpg"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
  </section>
  <section>
    <div class="title">
      <mat-icon>attach_money</mat-icon>
      <h2>
        7 - >Não existe problema que você não possa
        <span> achar uma solução </span>, esse é um poderoso argumento.
      </h2>
    </div>
    <div class="container-img container-img-max">
      <img
        src="../../../../assets/img/5d95bff4d4aefb48ccddfc48eed1e72c.jpg"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
  </section>

  <section>
    <ul>
      <li>
        Existem diversos problemas no público que você trabalha, e agora você já
        identificou os problemas. A partir daí, pense como seu serviço pode
        solucionar tais problemas.
      </li>
      <li>
        Seu serviço deve ser <span> capaz de entregar soluções </span>práticas,
        sustentáveis e alinhadas com as expectativas do seu público. Isso fará
        aos olhos do seu público com que você tenha um diferencial, afinal, você
        foi capaz de entregar o que outros profissionais não conseguiram, ou
        seja, <span>soluções</span>.
      </li>
    </ul>
    <div class="container-img container-img-min">
      <img
        src="../../../../assets/img/5d95bff4d4aefb48ccddfc48eed1e72c.jpg"
        alt="Saldo Bancário do Lucas em 1 mês de faturamento"
      />
    </div>
  </section>

  <section>
    <footer>
      <h2>Conclusão</h2>
      <p>
        Todas essas informações, caso bem executadas, podem realmente
        proporcionar um escalonamento no seu faturamento, podendo ultrapassar
        com facilidade a faixa dos 10 mil mensais. No entanto, como deve
        perceber, por mais que coloque nosso método de consultoria premium em
        prática, é preciso paciência e consistência para atingir maiores
        resultados.
      </p>
    </footer>
  </section>

  <section>
    <footer>
      <p>
        Nossos resultados foram obtidos com anos de experiência e estudos, e
        agora você pode usufruir e pular etapas colocando o método em prática.
        Lembre-se, as coisas não acontecem da noite para o dia. O ebook tem o
        objetivo de facilitar seu caminho como um guia, porém, ainda será você
        que precisará seguir o caminho e enfrentar os obstáculos.
      </p>
      <p>
        Mesmo que de início as coisas não aconteçam como deseje, seja
        consistente e continue colocando o método em prática. Verá que, de fato,
        o trabalho duro e a constância são o verdadeiro caminho para o sucesso.
      </p>
    </footer>
  </section>
</div>
